<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/head :: head(pageTitle='커뮤니티')}"></th:block>
    <link rel="stylesheet" th:href="@{/css/community/common.css}">
    <link rel="stylesheet" href="/css/community/poststyle.css" th:href="@{/css/community/post-detail.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
<div class="main-layout" style="display: flex; min-height: 100vh;">
    <!-- 1. 왼쪽 사이드바 -->
    <div th:replace="~{fragments/sidebar :: sidebar(currentPage='community')}"></div>
    <!-- 2. 오른쪽 영역 (헤더 + 본문) -->
    <div class="main-wrapper" style="flex: 1; display: flex; flex-direction: column;">
        <!--            <a th:text="${boardId}">광장 = 1, 마켓 = 2</a>-->
        <!--            <a th:each="board : ${boards}" th:text="${board.name}">String = 광장, 마켓 </a>-->
        <!--            <a th:each="category : ${categories}" th:text="${category.name}">전체, 자유, 토론 </a>-->
        <!--            <a th:text="${categoryId}">전체, 자유, 토론 </a>-->
        <!--            <p>현재 경로는 <span th:text="${boards[0].name}">현재 경로</span>입니다.</p>-->
        <!-- 상단 헤더 -->
        <th:block th:each="board : ${boards}">
            <div th:if="${boardId == board.id}">
                <div th:switch="${categoryId}">
                    <div th:case="2">
                        <div th:replace="~{fragments/headerCurrentMenuView :: path(paths=${ {'community', board.name, '자유' } })}"></div>
                    </div>
                    <div th:case="3">
                        <div th:replace="~{fragments/headerCurrentMenuView :: path(paths=${ {'community', board.name, '토론' } })}"></div>
                    </div>
                    <div th:case="4">
                        <div th:replace="~{fragments/headerCurrentMenuView :: path(paths=${ {'community', board.name, '나눔' } })}"></div>
                    </div>
                    <div th:case="5">
                        <div th:replace="~{fragments/headerCurrentMenuView :: path(paths=${ {'community', board.name, '분실문' } })}"></div>
                    </div>
                    <div th:case="*" >
                        <div th:replace="~{fragments/headerCurrentMenuView :: path(paths=${ {'community', board.name, '전체' } })}"></div>
                    </div>
                </div>
            </div>
        </th:block>
        <!-- 상단 메뉴 -->
        <div th:replace="~{fragments/headerCategoryMenu :: community}"></div>

        <main class="main-wrapper content-community" style="flex: 1; display: flex; flex-direction: column;">
            <div th:replace="~{community/fragments/boardListHeader :: boardListHeader(boards=${boards}, boardId=${boardId}, loginUser=${loginUser})}"></div>
            <div th:replace="~{community/fragments/categoryBanner :: categoryBanner(board=${board}, categories=${categories}, categoryId=${categoryId})}"></div>

                <div th:if="${successMessage}" class="success-message">
                    <span th:text="${successMessage}"></span>
                </div>
                <div class="content-container">
                    <div class="post-header">
                        <span class="list-category" th:classappend="${post.categoryCode}" th:text="${post.categoryName}">카테고리</span>
                        <span th:if="${post.categoryCode == 'share' and post.marketStatus != null}"
                              th:text="${post.marketStatusDescription}"></span>
                        <h1 class="post-title" th:text="${post.title}">게시글 제목</h1>

                        <div class="post-meta">
                            <span class="author" th:text="${post.writer}">작성자</span>
                            <span class="date" th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}">작성일</span>
                            <span class="views">조회수 <span th:text="${post.viewCount}">0</span></span>

                            <div th:if="${loginUser != null and loginUser.role == 'ADMIN'}" class="admin-tools"
                                 th:data-board-code="${boardCode}"
                                 th:data-category-code="${currentCategoryCode}" >
                                <button id="pinBtn" th:onclick="|togglePin(${post.id})|" class="btn-pin"
                                        th:classappend="${post.pinned} ? 'active' : ''">
                                <i class="fas fa-thumbtack"></i>
                                <span th:text="${post.pinned} ? '고정 해제' : '상단 고정'">상단 고정</span>
                                </button>

                                <button type="button" th:onclick="|hidePost(${post.id})|" class="btn-hide">
                                    <i class="fas fa-eye-slash"></i> 숨김
                                </button>
                            </div>

                            <div th:if="${post.categoryCode == 'share' and post.editable and post.marketStatus != null}"
                                 class="writer-only-tools" style="display: inline-block; margin-left: 5px;">
                                <select th:onchange="|updateStatus(${post.id}, this.value)|" class="status-select">
                                    <option th:selected="${post.marketStatus == 'SHARED'}" value="SHARED">나눔중</option>
                                    <option th:selected="${post.marketStatus == 'RESERVED'}" value="RESERVED">예약중</option>
                                    <option th:selected="${post.marketStatus == 'COMPLETED'}" value="COMPLETED">나눔완료</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="page-body">
                        <p th:utext="${post.content}">게시글 내용</p>
                    </div>

                    <hr>

                    <div class="page-footer">
                        <a th:href="@{/community/{code}(code=${board.code})}" class="btn">목록</a>

                        <div class="edit-delete-group" th:if="${post.editable}">
                            <a th:href="@{/community/{code}/edit/{id}(code=${board.code}, id=${post.id})}" class="btn-edit">수정</a>
                            <form th:action="@{/community/{code}/delete/{id}(code=${boardCode}, id=${post.id})}"
                                  method="post" style="display:inline;" id="deleteForm">
                                <button type="button" class="btn-delete"
                                        id="btn-delete" th:data-id="${post.id}">삭제</button>
                            </form>
                        </div>
                    </div>

                    <div class="comment-section">
                        <div th:replace="~{community/postComment :: postComment(${boardCode}, ${categoryCode}, ${post.id}, ${comments})}"></div>
                    </div>
                </div>
        </main>
        <footer th:replace="~{fragments/footer :: footer}"></footer>
    </div>
</div>

<script th:src="@{/js/community/post.js}" defer></script>
<script th:src="@{/js/community/comment.js}"></script>
</body>
</html>