<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>알람</title>
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/style.css}">
</head>
<body>
<div class="main-layout" style="display: flex;">

    <!-- 1. 왼쪽 사이드바 -->
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <!-- 2. 오른쪽 영역 (헤더 + 본문) -->
    <div class="main-wrapper" style="flex: 1; display: flex; flex-direction: column;">

        <!-- 상단 헤더 -->
        <div th:replace="~{fragments/header :: header}"></div>

        <!-- 상단 메뉴 -->
        <div th:replace="~{fragments/notification/categoryMenu :: categoryMenu}"></div>

        <!-- 메인 콘텐츠 -->
        <main class="content">
            <div style="min-height: 882px;">
                <h1>알람 홈 화면 입니다.</h1>
            </div>
        </main>

        <!-- 하단 푸터 삽입 -->
        <footer th:replace="~{fragments/footer :: footer}"></footer>

    </div>
</div>

</body>
</html>