<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <!-- 여기는 대시보드에 각 카테고리 추가 사항에 설명 및 추가를 원하는 리스트를 주시면 추가 하겠습니다.-->

    <!--
        <div th:replace="~{fragments/headerCurrentMenuView :: path(paths=${ {'parking', 'status'} })}"></div> -> 각자 작업하는 html에 추가 하시면 됩니다.

       headerCategoryMenu.html -> 여기는 오른쪽 상단 각 카테고리에 대한 메뉴를 등록 합니다. 여기서 리스트를 추가 하면
        각 카테고리에 메뉴가 추가가 됩니다.
      <div th:fragment="community" class="category-menu-bar">  -> 각 카테고리에 대한 메뉴 등록을 할 때  th:fragment="community" 이 항목이 있으면 category-list에 추가를 하면 됩니다.
        <ul class="category-list">                             -> 만약 없으면 옆을 복사를 해서 th:fragment="카테고리 이름을" 추가 하시면 됩니다.
            <li><a th:href="@{/community/square}">광장</a></li>
            <li><a th:href="@{/community/market}">마켓</a></li>
        </ul>
    </div>
    -->


    -->


</body>
</html>