<!DOCTYPE html>

<!-- index.html - 홈(메인) 페이지
    - 서비스 소개 화면 - DB 조회 없이 정적으로 렌더링
-->
<head th:replace="~{fragments/head :: head(pageTitle='홈')}"></head>
<body>

    <div class="main-layout" style="display: flex; min-height: 100vh;">

        <!-- 1. 왼쪽 사이드바 -->
        <div th:replace="~{fragments/sidebar :: sidebar(currentPage='home')}"></div>

        <!-- 2. 오른쪽 영역 (헤더 + 본문) -->
        <div class="main-wrapper" style="flex: 1; display: flex; flex-direction: column;">

            <!-- 상단 헤더 -->
            <div th:replace="~{fragments/header_menu :: header_menu(currentPath01='home', currentPath02='')}"></div>

            <!-- 메인 콘텐츠 -->
            <main class="content" style="flex: 1;">
                <div style="min-height: 930px;">
                    <h1>대시보드 홈 화면 입니다.</h1>
                </div>
            </main>

            <!-- 하단 푸터 삽입 -->
            <footer th:replace="~{fragments/footer :: footer}"></footer>
            <!-- 자바 스크립트 -->
            <script th:src="@{/js/dashboard/main.js}"></script>
        </div>
    </div>
</body>