<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="categoryMenu" class="category-menu-bar">

    <!-- 카테고리 메뉴 프래그먼트 정의 각 카테고리의 상단 오른쪽 상세 메뉴 표시에 표시될 메뉴들 -->
    <ul class="category-list">
        <li><a th:href="@{/notification/news}">전체보기</a></li>
        <li><a th:href="@{/notification/news}">새소식</a></li>
        <li><a th:href="@{/notification/event}">이벤트</a></li>
        <li><a th:href="@{/notification/community}">커뮤니티</a></li>
        <li><a th:href="@{/notification/qna}">고객센터</a></li>
    </ul>

</header>
</body>
</html>